@page "/roads/inspections/{id:int}/defects"
@inject IRoadDefectService roadDefectService
@inject NavigationManager NavigationManager
@inject DialogService DialogService
@inject IAlertService AlertService

<h1>Inspection defects</h1>

@if (roadDefects == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col float-right">
            <RadzenButton style="margin: 0 1rem 1rem 0" Click=@(onCreateClick) Text="Create" ButtonStyle="ButtonStyle.Secondary" />
        </div>
    </div>
    <RadzenDataGrid @ref="roadDefectsGrid" AllowFiltering="true" AllowPaging="true" PageSize="10" AllowSorting="true"
                    Data="@roadDefects" TItem="RoadDefectTableModel">
        <Columns>
            <RadzenDataGridColumn Width="50px" TItem="RoadDefectTableModel" Title="#" Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
                <Template Context="data">
                    @(roadDefects.IndexOf(data) + 1)
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="RoadDefectTableModel" Property="RoadInspectionNumber" Title="Inspection number" />
            <RadzenDataGridColumn TItem="RoadDefectTableModel" Property="DefectTypeName" Title="Defect type name" />
            <RadzenDataGridColumn TItem="RoadDefectTableModel" Property="DefectStartPoint" Title="Defect start point" />
            <RadzenDataGridColumn TItem="RoadDefectTableModel" Property="DefectDistance" Title="Defect distance" />
            <RadzenDataGridColumn TItem="RoadDefectTableModel" Context="sampleBlazorModelsSampleOrder" Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
                <Template Context="roadDefect">
                    <RadzenButton Size="ButtonSize.Small" Icon="edit" Click="@(args => onEditClick(roadDefect))" @onclick:stopPropagation="true" />
                    <RadzenButton Size="ButtonSize.Small" Icon="close" Click="@(args => onDeleteClick(roadDefect))" ButtonStyle="ButtonStyle.Danger" @onclick:stopPropagation="true" />
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}

@code {
    RadzenDataGrid<RoadDefectTableModel> roadDefectsGrid;

    IList<RoadDefectTableModel> roadDefects;


    protected async override Task OnInitializedAsync()
    {
        try
        {
            roadDefects = await roadDefectService.GetAsync(Id);
        }
        catch (Exception ex)
        {
            AlertService.Error(ex.Message);
        }
    }

    void onEditClick(RoadDefectTableModel model)
    {
        NavigationManager.NavigateTo($"/roads/inspections/{Id}/defects/{model.Id}");
    }

    async Task onDeleteClick(RoadDefectTableModel model)
    {
        try
        {
            var result = await DialogService.Confirm($"Delete {model.DefectTypeName}?", "Delete", new ConfirmOptions()
            {
                OkButtonText = "Yes",
                CancelButtonText = "No"
            });

            if (result.HasValue && result.Value)
            {
                await roadDefectService.DeleteAsync(model.Id);
                roadDefects = await roadDefectService.GetAsync(Id);
            }
        }
        catch (Exception ex)
        {
            AlertService.Error(ex.Message);
        }

    }

    void onCreateClick()
    {
        NavigationManager.NavigateTo($"/roads/inspections/{Id}/defects/create");
    }

    [Parameter]
    public int Id { get; set; }
}